*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
}

.nav{
    width: 100%;
    height: max-content;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid rgb(72, 70, 70);
    padding: 2.8% 0%;
}
h3{
    font-size: 1.5em;
    color: rgb(12, 182, 255);
}
.nav_list{
    width: 35%;
}
.nav_list li{
    display: inline-block;
}
li a{
    margin-left: 100px;
    text-decoration: none;
    color: black;
}
li a:hover{
    text-decoration: black underline;
    color: blue;
}

.bgtext{
    width: max-content;
    border-radius: 5px;
    background-color: rgb(37, 36, 36);
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    padding: 1.5% 6%;
}
.bold{
    color: aqua;
}
.main{
    height: calc(100% - 100px);
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn{
    font-family: "Norican", cursive;
    border: 3px solid black;
    border-radius:13px;
    padding: 0.3%;
    height: 45px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(28, 28, 28);
    color: white;
    border: 3px solid rgb(47, 176, 245);
}